body
{
	/*background-color: lightgrey;*/
	font-family: verdana;
}

title
{
	background-color: skyblue;
}

#idHeading
{
	color: mediumseagreen;
	text-align: center;
	border: 6px solid mediumseagreen;
	padding: 4px;
	border-radius: 70px;
}

a:link
{
	color: black;
	background-color: transparent;
	text-decoration: none;
}

a:visited
{
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

a:hover
{
	color: orange;
	background-color: grey;
	text-decoration: none;
}

a:active
{
	color: black;
	background-color: transparent;
	text-decoration: none;
}

table, td, th
{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px;
}

td
{
	text-align: center;
}

th
{
	color: white;
	background-color: black;
}

tr:nth-child(even)
{
	background-color: #eee;
}

tr:nth-child(odd)
{
	background-color: #fff;
}

#idUL1
{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color:black;
	color:white;
}

#idUL1 li
{
	float:left;
}

#idUL1 li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#idUL1 li a:hover
{
	color:orange;
	background-color: green;
}

#idUL2 li a
{
	display: block;
	color: black;
	text-decoration: none;
}

#idUL2 li a:hover
{
	color:orange;
	background-color: green;
}

#idDiv1
{
	background-color: rgba(180,180,180,0.8);
	/*background-color: #e0dfe4;*/
	padding: 10px;
	border: 10px;
	/*opacity: 0.5;*/
}

#idDiv1 p
{
	color: white;
	font-size: 12px;
}

#idDiv1 a
{
	color: black;
}
#idDiv1 a:hover
{
	color:orange;
}